@model IEnumerable<Pharmacy.Models.Pet>
@{
    ViewData["Title"] = "Patient View";
}

<h1>Patient View</h1>
<a asp-controller="Patient" asp-action="Appointments">View Appointments</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Pet Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Allergies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Allergies)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>